{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<a class="glossary-item-term" href="#">
    <div class="glossary-item-term-inner">
        <h5>{{{term}}}</h5>
    </div>
</a>
<div class="glossary-item-description">
    <div class="glossary-item-description-inner">
        {{{description}}}
    </div>
</div>
