<button class="base glossary-item-term" tabindex="0" role="listitem" aria-expanded="false" aria-label="{{{term}}}">
    <div class="glossary-item-term-inner h5">
        {{{term}}}
    </div>
</button>
<div class="glossary-item-description" role="region" aria-label="{{{term}}}">
    <div class="glossary-item-description-inner">
        {{{compile description}}}
    </div>
</div>
