{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<div class="glossary-inner" role="complementary">
    <div class="glossary-textbox-container">
        <label for="glossarySearch" class="glossary-textbox-label icon icon-search"></label>
        <input id="glossarySearch" type="text" placeholder="{{{searchPlaceholder}}}" class="glossary-textbox">
        <div class="glossary-cancel-button icon icon-cross display-none"></div>
    </div>
    <div class="glossary-checkbox-container">
        <input id="glossaryCheckbox" type="checkbox" class="glossary-checkbox">
        <label for="glossaryCheckbox" class="glossary-checkbox-label">{{{searchWithInDescriptionLabel}}}</label>
    </div>

    <div class="glossary-items-container"></div>

    <div class="glossary-item-not-found h6 display-none">{{{itemNotFoundMessage}}}</div>
</div>
