{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@credipoint.com>}}
<div class="glossary-inner">
    <div class="glossary-textbox-container">
        <label for="glossarySearch" class="glossary-textbox-label icon icon-search"></label>
        <input id="glossarySearch" type="search" placeholder="{{{searchPlaceholder}}}" class="glossary-textbox">
    </div>
    <div class="glossary-checkbox-container">
        <input id="glossaryCheckbox" type="checkbox" class="glossary-checkbox">
        <label for="glossaryCheckbox" class="glossary-checkbox-label">Search within Description</label>
    </div>
    <div class="glossary-items-container">
    </div>
    <div class="glossary-item-not-found display-none">
        <h6>{{{itemNotFoundMessage}}}</h6>
    </div>
</div>