{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<button class="base glossary-item-term" tabindex="0" role="button" aria-expanded="false" aria-label="{{{term}}}">
    <div class="glossary-item-term-inner h5">
        {{{term}}}
    </div>
</button>
<div class="glossary-item-description">
    <div class="glossary-item-description-inner">
        {{{a11y_text description}}}
    </div>
</div>
