<button class="btn-text glossary__item-term js-glossary-item-term-click" tabindex="0" role="listitem" aria-expanded="false" aria-label="{{{term}}}">
  <div class="glossary__item-term-inner">
    {{{term}}}
  </div>
</button>

<div class="glossary__item-description" role="region" aria-label="{{{term}}}">
  <div class="glossary__item-description-inner">
    {{{compile description}}}
  </div>
</div>
