{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@credipoint.com>}}
<a class="glossary-item-open" href="#">
    <div class="glossary-item-term">
        <h5 class="glossary-item-term-inner">{{{term}}}</h5>
    </div>
</a>
<div class="glossary-item-description">
    <div class="glossary-item-description-inner">
        {{{description}}}
    </div>
</div>