<button class="glossary__item-term drawer__item-btn js-glossary-item-term-click" tabindex="0" role="listitem" aria-expanded="false" aria-label="{{{term}}}">
  <div class="glossary__item-term-title drawer__item-title">
    <div class="glossary__item-term-title-inner drawer__item-title-inner">
      {{{term}}}
    </div>
  </div>
</button>

<div class="glossary__item-description" role="region" aria-label="{{{term}}}">
  <div class="glossary__item-description-inner">
    {{{compile description}}}
  </div>
</div>
